flow.json
[{"id":"ee0aaacc.7636e8","type":"ui_text_input","z":"a8cc3399.abeb88","name":"","label":"Ingreso mara como Texto HEX","group":"5fdc2922.6fdca","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":141,"y":132,"wires":[["4a715c9b.cc64fc"]]},{"id":"4a715c9b.cc64fc","type":"function","z":"a8cc3399.abeb88","name":"Desentramoado/Construct","func":"/**\n * Convertir entero a representación \n * binaria como lista de bool\n */\nfunction entero2binlist(entero) {\n var binRep = entero.toString(2);\n // agergar los 0's que falten\n var retval = \"0000000000000000\".slice(binRep.length) + binRep;\n retval = retval.split('').reverse().map(function (e) {return e == '1'})\n return retval;\n}\n\nfunction getBits(i, from, to, asString) {\n asString = asString || false;\n to = to || 8;\n from = from || 0;\n if (i > 255) {\n throw new Error(i + \"no es un valor por debajo de 0xFF\");\n }\n if (from > to) {\n throw new Error(from + \">\" +to);\n }\n \n var binRep = i.toString(2);\n var retval = \"00000000\".slice(binRep.length) + binRep;\n to = to || retval.length;\n // Slice inverso, resta 8\n retval = retval.slice(8 - to, 8 - from);\n \n if (!asString) {\n retval = Number.parseInt(retval, 2);\n }\n return retval;\n}\n\nfunction readMaraFrame(data){\n var parsed = {};\n var b = null;\n \n switch (data.constructor){\n case String:\n b = new Buffer(data.replace(/ /g, ''), \"hex\");\n break;\n case Buffer:\n b = data;\n break;\n }\n\n var frameIndex = 0;\n // Header\n parsed.SOF = b.readUInt8(frameIndex++);\n parsed.QTY = b.readUInt8(frameIndex++);\n parsed.DST = b.readUInt8(frameIndex++);\n parsed.SRC = b.readUInt8(frameIndex++);\n parsed.SEQ = b.readUInt8(frameIndex++);\n parsed.CMD = b.readUInt8(frameIndex++);\n // Varsys\n parsed.canVS = b.readUInt8(frameIndex++) -1;\n parsed.VS = [];\n\n for (let i = 0; i<parsed.canVS; i++) {\n parsed.VS.push(b.readUInt8(frameIndex + i))\n }\n frameIndex += parsed.canVS;\n\n parsed.canDI = b.readUInt8(frameIndex++) - 1;\n\n parsed.DI = [];\n\n for (let i = 0; i<parsed.canDI/2; i++) {\n var entero = b.readInt16LE(frameIndex);\n var binlist = entero2binlist(entero);\n parsed.DI.push(binlist);\n frameIndex += 2;\n }\n\n parsed.canAI = b.readUInt8(frameIndex++) - 1;\n\n parsed.AI = [];\n\n for (let i = 0; i<parsed.canAI/2; i++) {\n parsed.AI.push(b.readInt16LE(frameIndex));\n frameIndex += 2;\n }\n \n // Eventos\n parsed.canEV = b.readUInt8(frameIndex++);\n parsed.events = [];\n \n var eventBoundary = frameIndex + parsed.canEV;\n \n while (frameIndex < eventBoundary){\n try {\n var event = {}; // El objeto que va a ser retornado\n\n var tcd = b.readUInt8(frameIndex++);\n event['dir'] = getBits(tcd, 0, 4);\n //event['q'] = getBits(tcd, 4, 6);\n event['type'] = getBits(tcd, 4, 8);\n \n var epb = b.readUInt8(frameIndex++);\n event['estado'] = getBits(epb, 7, 8);\n event['port'] = getBits(epb, 4, 7);\n event['bit'] = getBits(epb, 0, 4);\n \n // Fecha\n var year = b.readUInt8(frameIndex++),\n month = b.readUInt8(frameIndex++) - 1,\n day = b.readUInt8(frameIndex++),\n hour = b.readUInt8(frameIndex++),\n minute = b.readUInt8(frameIndex++),\n second = b.readUInt8(frameIndex++);\n event.date = new Date(year + 2000, month, day, hour, minute, second);\n \n parsed.events.push(event);\n } catch (e) {\n console.error(e);\n // Se quedoó sin buffer\n break;\n }\n }\n\n return parsed;\n}\n\nif (msg.payload \n && msg.payload.length > 10) \n{\n return {\n payload: readMaraFrame(msg.payload)\n }; \n}\n","outputs":"1","noerr":0,"x":191,"y":240,"wires":[["1ccb091b.f3cc7f","38e5cd93.7379e2","66e1cea5.77e928","a7a386ce.410c98","d2ca1b78.a7f698","db66fc22.0cc8d","e1f3b193.66d78","5747bbfd.a8ecb4","9479a6e8.01232","2b9b9ef7.68ad8a","3899f4a2.62f444"]]},{"id":"fb323871.1e37a","type":"catch","z":"a8cc3399.abeb88","name":"Captura errores","scope":null,"x":92,"y":36,"wires":[["43b65f01.23e918"]]},{"id":"76568c3c.596ab4","type":"ui_toast","z":"a8cc3399.abeb88","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notificación","x":568,"y":35,"wires":[]},{"id":"35c3d623.e12762","type":"ui_template","z":"a8cc3399.abeb88","group":"5fdc2922.6fdca","name":"Salida MARA","order":3,"width":"12","height":"10","format":"El contenido de la trama hexadecimal de arriba se mostará\nprocesada en el campo de abajo como JSON.\n<pre ng-bind-html=\"msg.payload\"></pre>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":132,"y":400,"wires":[[]]},{"id":"1ccb091b.f3cc7f","type":"function","z":"a8cc3399.abeb88","name":"JSON a texto ","func":"\nreturn {\n payload: JSON.stringify(msg.payload, null, 2)\n};","outputs":1,"noerr":0,"x":153,"y":319,"wires":[["35c3d623.e12762"]]},{"id":"43b65f01.23e918","type":"function","z":"a8cc3399.abeb88","name":"Agregar encabezado","func":"\nreturn {\n payload: \"Hubo un error con: \" + msg.payload\n}","outputs":1,"noerr":0,"x":334,"y":35,"wires":[["76568c3c.596ab4"]]},{"id":"631e378e.abb4e8","type":"ui_button","z":"a8cc3399.abeb88","name":"Limpiar","group":"5fdc2922.6fdca","order":2,"width":0,"height":0,"label":"Borrar","color":"","bgcolor":"","icon":"","payload":"''","payloadType":"str","topic":"","x":132.5,"y":470,"wires":[["35c3d623.e12762"]]},{"id":"a3120813.c34de8","type":"ui_gauge","z":"a8cc3399.abeb88","name":"Nivel tanque malta","group":"7914d46.0c54c2c","order":0,"width":"0","height":"0","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":723.5,"y":218,"wires":[]},{"id":"38e5cd93.7379e2","type":"function","z":"a8cc3399.abeb88","name":"Tomar AI 4","func":"\nreturn {\n payload: msg.payload.AI[4]\n}","outputs":1,"noerr":0,"x":446.5,"y":220,"wires":[["a3120813.c34de8"]]},{"id":"b4275f2f.fde","type":"ui_gauge","z":"a8cc3399.abeb88","name":"Temperatura tanque elaboración","group":"defc999.c6e6268","order":0,"width":"6","height":"4","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":674.5,"y":131,"wires":[]},{"id":"66e1cea5.77e928","type":"function","z":"a8cc3399.abeb88","name":"Tomar AI 1","func":"\nreturn {\n payload: msg.payload.AI[1]\n}","outputs":1,"noerr":0,"x":444,"y":131,"wires":[["b4275f2f.fde"]]},{"id":"a7a386ce.410c98","type":"function","z":"a8cc3399.abeb88","name":"Tomar AI 2","func":"\nreturn {\n payload: msg.payload.AI[2]\n}","outputs":1,"noerr":0,"x":444,"y":176,"wires":[["f763b1d6.3aa168"]]},{"id":"d2ca1b78.a7f698","type":"function","z":"a8cc3399.abeb88","name":"Tomar DI 2","func":"\nreturn {\n payload: msg.payload.DI[2]\n}","outputs":1,"noerr":0,"x":445.5,"y":306,"wires":[["f7e85410.bb3cc8"]]},{"id":"db66fc22.0cc8d","type":"function","z":"a8cc3399.abeb88","name":"Tomar AI 0","func":"\nreturn {\n payload: msg.payload.AI[0]\n}","outputs":1,"noerr":0,"x":443,"y":86,"wires":[["302eda0a.3621ce"]]},{"id":"f763b1d6.3aa168","type":"ui_gauge","z":"a8cc3399.abeb88","name":"Brillo mezcla","group":"defc999.c6e6268","order":0,"width":"6","height":"4","gtype":"gage","title":"Brillo mezcla","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":743.5,"y":174,"wires":[]},{"id":"f7e85410.bb3cc8","type":"ui_template","z":"a8cc3399.abeb88","group":"3b911679.80b2a2","name":"Estado valvula agua","order":0,"width":"6","height":"1","format":"  <md-switch ng-model=\"data.cb2\" aria-label=\"Switch 2\" ng-true-value=\"'abierta'\" ng-false-value=\"'cerrada'\" class=\"md-warn\">\n    Estado valvula de agua: {{ data.cb2 }}\n  </md-switch>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":719.5,"y":312,"wires":[[]]},{"id":"302eda0a.3621ce","type":"ui_gauge","z":"a8cc3399.abeb88","name":"Presion tanque elaboración","group":"defc999.c6e6268","order":0,"width":"6","height":"4","gtype":"gage","title":"Presion ","label":"Pa","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":695,"y":86,"wires":[]},{"id":"75f17297.394354","type":"ui_gauge","z":"a8cc3399.abeb88","name":"Motor tanque elaboración","group":"defc999.c6e6268","order":0,"width":"6","height":"4","gtype":"gage","title":"Velocidad Motor","label":"km/h","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":709.5,"y":263,"wires":[]},{"id":"fbc4a60e.c4c6a","type":"ui_template","z":"a8cc3399.abeb88","group":"3b911679.80b2a2","name":"Estado valvula malta","order":0,"width":"6","height":"1","format":"  <md-switch ng-model=\"data.cb2\" aria-label=\"Switch 2\" ng-true-value=\"'abierta'\" ng-false-value=\"'cerrada'\" class=\"md-warn\">\n    Estado valvula de malta: {{ data.cb2 }}\n  </md-switch>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":722,"y":355,"wires":[[]]},{"id":"3d224bb1.360de4","type":"ui_gauge","z":"a8cc3399.abeb88","name":"Presión agua destilada","group":"4fe8fa5f.f27724","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"Pa","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":707.5,"y":501,"wires":[]},{"id":"f92728c5.d98ce","type":"ui_template","z":"a8cc3399.abeb88","group":"3b911679.80b2a2","name":"Estado motor tanque elaboración","order":0,"width":"6","height":"1","format":"  <md-switch ng-model=\"data.cb2\" aria-label=\"Switch 2\" ng-true-value=\"'on'\" ng-false-value=\"'off'\" class=\"md-warn\">\n    Estado motor: {{ data.cb2 }}\n  </md-switch>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":687,"y":448,"wires":[[]]},{"id":"8a328910.6feba8","type":"ui_template","z":"a8cc3399.abeb88","group":"3b911679.80b2a2","name":"Estado calefacción tanque","order":0,"width":"6","height":"1","format":"  <md-switch ng-model=\"data.cb2\" aria-label=\"Switch 2\" ng-true-value=\"'on'\" ng-false-value=\"'off'\" class=\"md-warn\">\n    Estado valvula de malta: {{ data.cb2 }}\n  </md-switch>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":704,"y":398,"wires":[[]]},{"id":"d9a4db2d.fd3528","type":"ui_toast","z":"a8cc3399.abeb88","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notificación parada actuadores","x":382,"y":552,"wires":[]},{"id":"6a618816.f3f89","type":"ui_template","z":"a8cc3399.abeb88","group":"3b911679.80b2a2","name":"Setup umbral brillo ","order":0,"width":"0","height":"0","format":"<div>\n<label for=\"Umbral colorimetría\">Umbral colorimetría</label>\n<select style=\"margin-left:4em\" name=\"Umbral colorimetría\">\n  <option value=\"valor1\">valor 1</option>\n  <option value=\"valor2\">valor 2</option>\n  <option value=\"valor3\">valor 3</option>\n  <option value=\"valor4\">valor 4</option>\n</select> \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":731.5,"y":549,"wires":[[]]},{"id":"3c6ef7a1.2a87e8","type":"ui_template","z":"a8cc3399.abeb88","group":"3b911679.80b2a2","name":"Setup velocidad motor","order":0,"width":"0","height":"0","format":"<div>\n<label for=\"Velocidad motor\">Velocidad motor</label> \n<select style=\"margin-left:5.5em\"name=\"velocidad motor\">\n  <option value=\"valor1\">valor 1</option>\n  <option value=\"valor2\">valor 2</option>\n  <option value=\"valor3\">valor 3</option>\n  <option value=\"valor4\">valor 4</option>\n</select>     \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":726.5,"y":600,"wires":[[]]},{"id":"bd13f316.3690c","type":"ui_toast","z":"a8cc3399.abeb88","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notificación presión máxima tanque agua","x":350,"y":602,"wires":[]},{"id":"2e030ba1.e85eec","type":"ui_template","z":"a8cc3399.abeb88","group":"3b911679.80b2a2","name":"Setup umbral temperatura","order":0,"width":"0","height":"0","format":"<div>\n<label for=\"Umbral temperatura\">Umbral temperatura</label> \n<select style=\"margin-left:4em\" name=\"velocidad motor\">\n  <option value=\"valor1\">valor 1</option>\n  <option value=\"valor2\">valor 2</option>\n  <option value=\"valor3\">valor 3</option>\n  <option value=\"valor4\">valor 4</option>\n</select>     \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":709.5,"y":647,"wires":[[]]},{"id":"e1f3b193.66d78","type":"function","z":"a8cc3399.abeb88","name":"Tomar AI 5","func":"\nreturn {\n payload: msg.payload.AI[5]\n}","outputs":1,"noerr":0,"x":445,"y":261,"wires":[["75f17297.394354"]]},{"id":"5747bbfd.a8ecb4","type":"function","z":"a8cc3399.abeb88","name":"Tomar DI 3","func":"\nreturn {\n payload: msg.payload.DI[3]\n}","outputs":1,"noerr":0,"x":445,"y":354,"wires":[["fbc4a60e.c4c6a"]]},{"id":"9479a6e8.01232","type":"function","z":"a8cc3399.abeb88","name":"Tomar DI 4","func":"\nreturn {\n payload: msg.payload.DI[4]\n}","outputs":1,"noerr":0,"x":445,"y":397,"wires":[["8a328910.6feba8"]]},{"id":"2b9b9ef7.68ad8a","type":"function","z":"a8cc3399.abeb88","name":"Tomar DI 5","func":"\nreturn {\n payload: msg.payload.DI[5]\n}","outputs":1,"noerr":0,"x":446,"y":446,"wires":[["f92728c5.d98ce"]]},{"id":"3899f4a2.62f444","type":"function","z":"a8cc3399.abeb88","name":"Tomar AI 3","func":"\nreturn {\n payload: msg.payload.AI[3]\n}","outputs":1,"noerr":0,"x":444,"y":501,"wires":[["3d224bb1.360de4"]]},{"id":"5fdc2922.6fdca","type":"ui_group","z":"","name":"Envio MARA","tab":"16dda70d.ea8209","order":1,"disp":true,"width":"12"},{"id":"7914d46.0c54c2c","type":"ui_group","z":"","name":"Tanque Malta","tab":"6bad356f.4a93c4","order":3,"disp":true,"width":"6"},{"id":"defc999.c6e6268","type":"ui_group","z":"","name":"Sensores Tanque Elaboración","tab":"6bad356f.4a93c4","order":1,"disp":true,"width":"12"},{"id":"3b911679.80b2a2","type":"ui_group","z":"","name":"Controles Tanque Elaboración","tab":"6bad356f.4a93c4","order":2,"disp":true,"width":"6"},{"id":"4fe8fa5f.f27724","type":"ui_group","z":"","name":"Presión agua destilada","tab":"6bad356f.4a93c4","order":4,"disp":true,"width":"6"},{"id":"16dda70d.ea8209","type":"ui_tab","z":"","name":"Construct MARA","icon":"dashboard","order":1},{"id":"6bad356f.4a93c4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]