flow.json
[{"id":"817a1903.cf8e8","type":"mqtt in","z":"e47c149b.bf77f8","name":"","topic":"tanque_malta","qos":"2","broker":"e770103f.a1d2b8","x":279,"y":118,"wires":[["2f183b7f.c58a9c","5ce5f986.867a08"]]},{"id":"f18c57c1.9b9e18","type":"mqtt in","z":"e47c149b.bf77f8","name":"","topic":"temp_tanque_elab","qos":"2","broker":"e770103f.a1d2b8","x":292,"y":239,"wires":[["21d7310a.65ac5e","35029736.3f51c"]]},{"id":"ef6f4709.bb0128","type":"mqtt in","z":"e47c149b.bf77f8","name":"","topic":"presion_tanque_elab","qos":"2","broker":"e770103f.a1d2b8","x":299,"y":296,"wires":[["8413b302.6429d8"]]},{"id":"de45c5b7.e3b","type":"mqtt in","z":"e47c149b.bf77f8","name":"","topic":"brillo_tanque_elab","qos":"2","broker":"e770103f.a1d2b8","x":288,"y":347,"wires":[["981b535b.6a92e8"]]},{"id":"690bd5e4.be6da4","type":"mqtt in","z":"e47c149b.bf77f8","name":"","topic":"valvula_malta","qos":"2","broker":"e770103f.a1d2b8","x":270,"y":400,"wires":[["8305168e.72efb8"]]},{"id":"d5fe80be.335a08","type":"mqtt in","z":"e47c149b.bf77f8","name":"","topic":"valvula_agua","qos":"2","broker":"e770103f.a1d2b8","x":266,"y":444,"wires":[["9f0b38b6.9ac4f8"]]},{"id":"b9088a87.62c8e8","type":"mqtt in","z":"e47c149b.bf77f8","name":"","topic":"parada_proceso","qos":"2","broker":"e770103f.a1d2b8","x":273,"y":491,"wires":[["c14f7f0c.9472b","de3a1f9d.5c8da8"]]},{"id":"28d0ec6.630fe94","type":"ui_gauge","z":"e47c149b.bf77f8","name":"Presion tanque elaboración","group":"cf1f2bc6.219f98","order":6,"width":"6","height":"4","gtype":"gage","title":"Presion ","label":"Pa","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":696.5,"y":295,"wires":[]},{"id":"3d7a33f.f31facc","type":"ui_gauge","z":"e47c149b.bf77f8","name":"Temperatura tanque elaboración","group":"cf1f2bc6.219f98","order":7,"width":"6","height":"4","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":716,"y":242,"wires":[]},{"id":"957dc347.bdf0b8","type":"ui_gauge","z":"e47c149b.bf77f8","name":"Brillo mezcla","group":"cf1f2bc6.219f98","order":4,"width":"6","height":"4","gtype":"gage","title":"Brillo mezcla","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":348,"wires":[]},{"id":"b4208783.fb7e2","type":"ui_gauge","z":"e47c149b.bf77f8","name":"Nivel tanque malta","group":"614feb2.cec4514","order":0,"width":"0","height":"0","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":661,"y":114,"wires":[]},{"id":"35ec7b3.f6b5884","type":"ui_text","z":"e47c149b.bf77f8","group":"cf1f2bc6.219f98","order":0,"width":"6","height":"2","name":"valvula malta","label":"Valvula malta","format":"{{msg.payload}}","layout":"row-spread","x":621,"y":400,"wires":[]},{"id":"8a9e7ff7.f3f9d","type":"ui_text","z":"e47c149b.bf77f8","group":"cf1f2bc6.219f98","order":0,"width":"6","height":"2","name":"valvula agua","label":"valvula agua","format":"{{msg.payload}}","layout":"row-spread","x":619,"y":442,"wires":[]},{"id":"a10431a8.7de648","type":"ui_toast","z":"e47c149b.bf77f8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notificación parada actuadores","x":670.5,"y":492,"wires":[]},{"id":"21d7310a.65ac5e","type":"function","z":"e47c149b.bf77f8","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":482.5,"y":242,"wires":[["3d7a33f.f31facc"]]},{"id":"2f183b7f.c58a9c","type":"function","z":"e47c149b.bf77f8","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":465,"y":112,"wires":[["b4208783.fb7e2"]]},{"id":"8413b302.6429d8","type":"function","z":"e47c149b.bf77f8","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":480,"y":297,"wires":[["28d0ec6.630fe94"]]},{"id":"981b535b.6a92e8","type":"function","z":"e47c149b.bf77f8","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":476,"y":346,"wires":[["957dc347.bdf0b8"]]},{"id":"5ce5f986.867a08","type":"function","z":"e47c149b.bf77f8","name":"notificacion_proveedores","func":"/*return {\n    payload: Math.trunc(parseInt(msg.payload) \n    * 100 / 658)\n}\n*/\n\nreturn{\n    payload: parseInt(msg.payload) < (658 * 0.3) \n    ? \"NIVELES CRÍTICOS DE MALTA\" : \"\"\n}\n\n/*\nreturn msg;\n*/","outputs":1,"noerr":0,"x":519.5,"y":54,"wires":[["68053246.89ed24"]]},{"id":"68053246.89ed24","type":"ui_text","z":"e47c149b.bf77f8","group":"614feb2.cec4514","order":0,"width":0,"height":0,"name":"Notificación a proveedores","label":"","format":"<b>{{msg.payload}}</b>","layout":"row-spread","x":787.5,"y":50,"wires":[]},{"id":"35029736.3f51c","type":"function","z":"e47c149b.bf77f8","name":"","func":"return{\n    payload: parseInt(msg.payload) < (150) \n    ? \"CALEFACCIÓN ENCENDIDA\" \n    : \"CALEFACCIÓN APAGADA\"\n}","outputs":1,"noerr":0,"x":484.5,"y":186,"wires":[["69432114.c92d78"]]},{"id":"69432114.c92d78","type":"ui_text","z":"e47c149b.bf77f8","group":"cf1f2bc6.219f98","order":0,"width":0,"height":0,"name":"Calefacción","label":"","format":"{{msg.payload}}","layout":"col-center","x":643.5,"y":184,"wires":[]},{"id":"9f0b38b6.9ac4f8","type":"function","z":"e47c149b.bf77f8","name":"","func":"\nreturn{\n    payload: parseInt(msg.payload) == (1) \n    ? \"VÁLVULA ABIERTA\" : \"VÁLVULA CERRADA\"\n}","outputs":1,"noerr":0,"x":436.5,"y":443,"wires":[["8a9e7ff7.f3f9d"]]},{"id":"8305168e.72efb8","type":"function","z":"e47c149b.bf77f8","name":"","func":"\nreturn{\n    payload: parseInt(msg.payload) == (1) \n    ? \"VÁLVULA ABIERTA\" : \"VÁLVULA CERRADA\"\n}\n","outputs":1,"noerr":0,"x":435,"y":396,"wires":[["35ec7b3.f6b5884"]]},{"id":"c14f7f0c.9472b","type":"function","z":"e47c149b.bf77f8","name":"","func":"if(parseInt(msg.payload) == 1){\n    return{\n        payload: \"PROCESO DETENIDO\"\n    }\n}else return null","outputs":1,"noerr":0,"x":442,"y":493,"wires":[["a10431a8.7de648"]]},{"id":"b3cf35e4.c96828","type":"ui_text","z":"e47c149b.bf77f8","group":"11e6cb1f.7c4865","order":0,"width":0,"height":0,"name":"","label":"Estado del proceso","format":"{{msg.payload}}","layout":"row-spread","x":625.5,"y":547,"wires":[]},{"id":"de3a1f9d.5c8da8","type":"function","z":"e47c149b.bf77f8","name":"","func":"if(parseInt(msg.payload) == 1){\n    return{\n        payload: \"DETENIDO\"\n    }\n}else{\n    return{\n        payload: \"CORRIENDO\"\n    }\n}","outputs":1,"noerr":0,"x":446,"y":547,"wires":[["b3cf35e4.c96828"]]},{"id":"e770103f.a1d2b8","type":"mqtt-broker","z":"","broker":"192.168.43.120","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"cf1f2bc6.219f98","type":"ui_group","z":"","name":"Sensores Tanque Elaboración","tab":"54b84fb2.48121","order":2,"disp":true,"width":"12"},{"id":"614feb2.cec4514","type":"ui_group","z":"","name":"Tanque Malta","tab":"54b84fb2.48121","order":3,"disp":true,"width":"6"},{"id":"11e6cb1f.7c4865","type":"ui_group","z":"","name":"Estado Proceso","tab":"54b84fb2.48121","order":1,"disp":false,"width":"6"},{"id":"54b84fb2.48121","type":"ui_tab","z":"","name":"Sala Control","icon":"dashboard"}]
