flow-con-topicos.json
[{"id":"57fa5e70.145af","type":"mqtt in","z":"e48555c9.e7177","name":"","topic":"tanque_malta","qos":"2","broker":"88fb63db.c26a88","x":124,"y":69,"wires":[["924a8b02.a9e428"]]},{"id":"42b45d01.693b8c","type":"mqtt in","z":"e48555c9.e7177","name":"","topic":"temp_tanque_elab","qos":"2","broker":"88fb63db.c26a88","x":143,"y":121,"wires":[["c88fb183.8aa0b"]]},{"id":"2fbf6cfa.1105e4","type":"mqtt in","z":"e48555c9.e7177","name":"","topic":"presion_tanque_elab","qos":"2","broker":"88fb63db.c26a88","x":150,"y":178,"wires":[["94af1b4f.be6a6"]]},{"id":"6def693b.9b8758","type":"mqtt in","z":"e48555c9.e7177","name":"","topic":"brillo_tanque_elab","qos":"2","broker":"88fb63db.c26a88","x":139,"y":229,"wires":[["b9f5d3fe.c7d708"]]},{"id":"c490580d.30209","type":"mqtt in","z":"e48555c9.e7177","name":"","topic":"valvula_malta","qos":"2","broker":"88fb63db.c26a88","x":120,"y":278,"wires":[["645b822.08a5a7c"]]},{"id":"b55529dc.9fe2a8","type":"mqtt in","z":"e48555c9.e7177","name":"","topic":"valvula_agua","qos":"2","broker":"88fb63db.c26a88","x":117,"y":326,"wires":[["d782b5d3.0f9728"]]},{"id":"f7833c3b.7c08e8","type":"mqtt in","z":"e48555c9.e7177","name":"","topic":"parada_proceso","qos":"2","broker":"88fb63db.c26a88","x":124,"y":373,"wires":[["a1ba98f8.3f6bf8"]]},{"id":"343e8bcf.263f44","type":"ui_gauge","z":"e48555c9.e7177","name":"Presion tanque elaboración","group":"15e5f889.231287","order":6,"width":"6","height":"4","gtype":"gage","title":"Presion ","label":"Pa","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":547.5,"y":177,"wires":[]},{"id":"1d93849a.72ca6b","type":"ui_gauge","z":"e48555c9.e7177","name":"Temperatura tanque elaboración","group":"15e5f889.231287","order":7,"width":"6","height":"4","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":567,"y":124,"wires":[]},{"id":"d1d031cc.e25d78","type":"ui_gauge","z":"e48555c9.e7177","name":"Brillo mezcla","group":"15e5f889.231287","order":4,"width":"6","height":"4","gtype":"gage","title":"Brillo mezcla","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":491,"y":230,"wires":[]},{"id":"c9d3fed5.6c5578","type":"ui_gauge","z":"e48555c9.e7177","name":"Nivel tanque malta","group":"ed64ac74.ae3758","order":0,"width":"0","height":"0","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":509,"y":69,"wires":[]},{"id":"645b822.08a5a7c","type":"ui_text","z":"e48555c9.e7177","group":"15e5f889.231287","order":0,"width":"6","height":"2","name":"valvula malta","label":"Valvula malta","format":"{{msg.payload}}","layout":"row-spread","x":373,"y":281,"wires":[]},{"id":"d782b5d3.0f9728","type":"ui_text","z":"e48555c9.e7177","group":"15e5f889.231287","order":0,"width":"6","height":"2","name":"valvula agua","label":"valvula agua","format":"{{msg.payload}}","layout":"row-spread","x":373,"y":328,"wires":[]},{"id":"a1ba98f8.3f6bf8","type":"ui_toast","z":"e48555c9.e7177","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notificación parada actuadores","x":429.5,"y":375,"wires":[]},{"id":"c88fb183.8aa0b","type":"function","z":"e48555c9.e7177","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":333.5,"y":124,"wires":[["1d93849a.72ca6b"]]},{"id":"924a8b02.a9e428","type":"function","z":"e48555c9.e7177","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":313,"y":67,"wires":[["c9d3fed5.6c5578"]]},{"id":"94af1b4f.be6a6","type":"function","z":"e48555c9.e7177","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":331,"y":179,"wires":[["343e8bcf.263f44"]]},{"id":"b9f5d3fe.c7d708","type":"function","z":"e48555c9.e7177","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":327,"y":228,"wires":[["d1d031cc.e25d78"]]},{"id":"88fb63db.c26a88","type":"mqtt-broker","z":"","broker":"192.168.0.22","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"15e5f889.231287","type":"ui_group","z":"","name":"Sensores Tanque Elaboración","tab":"1f009571.451ec3","order":1,"disp":true,"width":"12"},{"id":"ed64ac74.ae3758","type":"ui_group","z":"","name":"Tanque Malta","tab":"1f009571.451ec3","order":3,"disp":true,"width":"6"},{"id":"1f009571.451ec3","type":"ui_tab","z":"","name":"Sala Control","icon":"dashboard"}]
